.home-view {
  h1 {
    margin-top: 55px;
    margin-bottom: 10px;
  }

  .info-text {
    font-size: .9em;
  }

  .home-info {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 25px;
  }

  .results-container {
    display: flex;
    margin-right: -12.5px;
    margin-left: -12.5px;

    .results-container__column {
      flex: 1;
      padding-left: 12.5px;
      padding-right: 12.5px;
    }
  }
}
