<section class="configuration-results">
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <div class="configuration-results__table">
    <ng-template #imageSrcTpl let-value="value">
      <img
        width="150"
        [src]="value"
      />
    </ng-template>
    <ng-template #projectNameTpl let-row="row">
      <span class="project-name-cell">{{row.projectName}}</span>
      <span class="model-cell">{{row.model}}</span>
    </ng-template>
    <ng-template #startProjectTpl let-row="row">
      <div class="row-action">
        <button class="button button__primary" routerLink="/product/972M">Start</button>
      </div>
    </ng-template>
    <ngx-datatable
      [rows]="rows"
      [columnMode]="'force'"
      [columns]="columns"
      [selectionType]="'single'"
      [reorderable]="false"
      [headerHeight]="'auto'"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="5"
      (select)="selectRow($event)"
    >
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset">
          <div class="datatable-footer-info">
            <div class="datatable-footer-info__results">
             1 - 5 of {{rowCount}} Results
            </div>
            <div class="datatable-footer-info__limit">
              Show:
            </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
              (change)="goToPage($event)"
              [page]="curPage" [count]="rowCount" [size]="pageSize" [pagerLeftArrowIcon]="'chevron-left'"></datatable-pager>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</section>
