<ng-container *ngIf="showModal">
  <div class="modal-backdrop" (click)="closeModal(null, $event)">
    <section class="modal option-modal">
      <header class="modal__header">
        Option Choice
        <span class="modal__header--close" (click)="closeModal(null)">
        <fa-icon icon="times"></fa-icon>
      </span>
      </header>
      <div class="modal__content">
        <div class="option-container">
          <div class="option-column" *ngIf="updateOptions?.toRemove.length > 0">
            <h3>Based on your choice of the {{updateOptions?.question?.displayName}} the following options will not be
              available</h3>
            <table class="table option-table">
              <tbody>
              <tr *ngFor="let option of updateOptions?.toRemove">
                <td class="edit"><a href="#">
                  <fa-icon icon="edit"></fa-icon>
                </a></td>
                <td>{{option.question}}, {{option.answer}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="option-column" *ngIf="updateOptions?.toAdd.length > 0">
            <h3>The following options are now required based on your selection</h3>
            <table class="table option-table">
              <tbody>
              <tr *ngFor="let option of updateOptions?.toAdd">
                <td class="edit"><a href="#">
                  <fa-icon icon="edit"></fa-icon>
                </a></td>
                <td>{{option.question}}, {{option.answer}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal__action">
        <button class="button button__secondary" (click)="closeModal(null)">Cancel</button>
        <button class="button button__primary" (click)="confirmUpdate(updateOptions)">Accept</button>
      </div>
    </section>
  </div>
</ng-container>
