<app-banner [bannerTitle]="bannerTitle" [preText]="bannerPreText" styleClass="home-banner"></app-banner>
<section class="content__container home-view">
  <div class="home-info">
    <h1 class="text-left">PROJECT HOME</h1>
    <p class="info-text">Get started by selecting or creating a new project below. The Cat Feature Based Configurator tool will take you through a step by step process, defining the customer, options needed and price the machine based on your inputs.</p>
  </div>
  <div class="search-container">
    <configuration-search></configuration-search>
  </div>
  <div class="results-container">
    <div class="results-container__column">
      <configuration-results [title]="standardConfigTitle" [description]="standardConfigDesc"></configuration-results>
    </div>
    <div class="results-container__column">
      <configuration-results [title]="previousConfigTitle" [description]="previousConfigDesc"></configuration-results>
    </div>
  </div>
</section>
