.button {
  background-color: #fff;
  border: none;
  font-size: .75em;
  padding: 1em 1.75em;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;

  &.disabled {
    opacity: .6;
  }
}

.button__primary {
  background-color: $button-primary-color;
}

.button__secondary {
  background-color: $button-secondary-color;
}
