.input-text {
  padding: .5em;
  border: 1px solid #747474;
  font-size: 1em;
  border-radius: 5px;
}

.input-search-group {
  position: relative;

  .input-text {
    padding-right: 30px;
    width: 100%;
  }

  .fa-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
