.table {
  border-collapse: collapse;
  width: 100%;

  thead {
    tr {
      background-color: #f9f9f9;
    }
  }

  tbody {
    tr {
      border: 1px solid #f7f7f7;

      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: #ddd !important;
      }
    }
  }

  td, th {
    padding: 15px;
  }
}

.option-table {
  .edit {
    width: 50px;
    text-align: center;
    padding-right: 0;

    a {
      color: #fcd30f;
    }
  }
}

.pricing-table {
  font-size: .875em;

  thead {
    tr {
      background-color: #D7D7D8;
      color: #969696;
    }
  }

  tbody tr {
    color: #333;

    &:nth-child(even) {
      background-color: #f8f8f8;
    }
  }

  .pricing-table__feature-code {
    padding-left: 45px;
    text-align: left;
  }

  .pricing-table__price {
    padding-right: 45px;
    text-align: right;
  }
}
