.banner {
  text-align: center;
  background-size: cover;
  color: #fff;
  padding: 50px 0;

  .banner__pre-text {
    font-size: 1.125em;
  }

  .banner__title {
    font-family: Roboto, sans-serif;
    font-size: 2.1em;
    margin: 20px auto 0;
    font-weight: lighter;
    letter-spacing: 1.27px;
  }

  &.home-banner {
    background-image: url("/assets/images/banners/home.png");
    height: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
