.configuration-steps {
  background-color: #fff;
  border-bottom: 1px solid #9f9f9f;
  height: 85px;
  display: flex;
  align-items: center;

  .configuration-steps__nav {
    margin: auto;
  }

  &.is-sticky {
    top: 85px !important;
    z-index: 999;
  }
}

.configuration-nav {
  display: flex;
  flex-direction: row;
  transform: translateY(-5px);

  .configuration-nav__list-item {
    &:not(:last-child):after {
      content: '';
      display: inline-block;
      width: 35px;
      border-bottom: 1px solid #747474;
      margin-left: 15px;
      transform: translateY(-5px);
    }

    .fa-check {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      transform: translateY(-50%);
      font-size: 12px;
    }
  }

  .configuration-nav__list-item:first-child .configuration-nav__list--icon {
    margin-left: 0;
  }

  .configuration-nav__list--icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #747474;
    background-color: #fff;
    display: inline-block;
    transform: translateY(9px);
    margin-right: 10px;
    margin-left: 10px;
    position: relative;

    small {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;
      font-size: .8em;
      font-weight: bold;
    }
  }

  .active-step .configuration-nav__list--icon {
    background-color: $button-primary-color;
    color: #000;
    border-color: $button-primary-color;
  }

  .complete-step .configuration-nav__list--icon {
    background-color: #747474;
    color: $button-primary-color;
    border-color: #747474;
  }

  .configuration-nav__list--label {
    font-size: .7125em;
    font-weight: bold;
    text-transform: uppercase;
    color: #747474;
  }
}

.configuration-info {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .configuration-info__project {
    margin-right: 10px;
  }

  .configuration-info__save {
    text-align: center;
    cursor: pointer;
  }

  .configuration-info__project--title, .configuration-info__save--icon {
    display: block;
    text-align: center;
  }

  .configuration-info__project--title {
    margin-bottom: 5px;
  }

  .configuration-info__save--icon {
    width: 30px;
    margin: auto;
  }
}
