.configuration-search {
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding: 45px 35px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 25px;

  .configuration-search__title {
    font-size: 1.375em;
    text-transform: uppercase;
    display: flex;
    margin-top: 0;
  }

  .configuration-search__title--icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: inline-block;
    background-color: #a5a5a5;
    text-align: center;
    border-radius: 50%;
    font-size: .65em;
    color: #fff;
    position: relative;
    cursor: pointer;

    .fa-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .configuration-search__desc {
    margin-bottom: 26px;
  }

  .configuration-search__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .input-text {
      padding: 19px 61px 19px 23px;
      font-size: 22px;
    }

    .input-search-group {
      font-size: 1.625em;
      flex: 1;
      margin-left: 55px;
    }

    strong {
      font-size: 2em;
      color: #9B9B9B;
      font-weight: bold;
      margin-left: 20px;
      margin-right: 20px;
    }

    .button__primary {
      padding: 18px 35px;
      font-size: 1.5em;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    }
  }
}
