.configuration-results {
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding: 45px 35px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 25px;

  .configuration-results__table {
    margin-top: 40px;
    width: 100%;
  }
}
