.configuration-item {
  margin-bottom: 40px;

  .configuration-list__item {
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
  }

  .configuration-list__item--heading {
    padding: 15px 25px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
  }

  .configuration-list__item--heading-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.15em;
  }

  .configuration-list__item--heading-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #a5a5a5;
    text-align: center;
    border-radius: 50%;
    font-size: .65em;
    color: #fff;
    position: relative;
    transform: translateY(3px);
    cursor: pointer;

    .fa-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .configuration-list__item--heading-price {
    display: inline-block;
    margin-left: auto;
    margin-right: 60px;
    font-size: .8em;
  }

  .configuration-list__item--content {
    padding: 10px 25px 25px;
    background-color: #fff;
  }

  .configuration-list__item--question-type {
    color: #747474;
  }
}

.configuration-option {

  .configuration-option__row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f2f2f2;
    align-items: center;
    padding: 15px 0;
    position: relative;

    &.disabled {
      .configuration-option__row--checkbox, .configuration-option__row--label, .configuration-option__row--price {
        opacity: .3;
      }
    }
  }

  &:last-child .configuration-option__row {
    border-bottom: 0;
  }

  .configuration-option__row--commands {
    display: flex;
    align-items: center;
  }

  .configuration-option__row--checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    &.checked {
      .configuration-option__row--checkbox-inner {
        background-color: #565656;
      }

      border-color: #ffcc00;
      box-shadow: 0px 0px 0px 1px rgba(255,204,0,1);
    }

    .configuration-option__row--checkbox-inner {
      position: absolute;
      width: 12px;
      height: 12px;
      top: 3px;
      left: 3px;
      border-radius: 50%;
    }

    &.checkbox-multi {
      border-radius: 5px;

      .configuration-option__row--checkbox-inner {
        border-radius: 0;
        display: inline-block;
        transform: rotate(45deg) translate3d(-2px, -3px, 1px);
        top: 2px;
        left: 3px;
        height: 18px;
        width: 10px;
        border-bottom: 5px solid transparent;
        border-right: 5px solid transparent;
      }

      &.checked {
        .configuration-option__row--checkbox-inner {
          border-color: #565656;
          background-color: transparent;
        }
      }
    }
  }

  .configuration-option__row--label {
    margin-left: 35px;
    cursor: pointer;
  }

  .configuration-option__row--price {
    margin-left: auto;
    margin-right: 60px;
  }

  .configuration-option__row--expand {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .configuration-option__expand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1em;
    padding-top: 45px;
    padding-bottom: 45px;

    .configuration-option__expand--image {
      flex: .7;

      strong {
        display: block;
        text-align: center;
      }
    }

    .configuration-option__expand--desc {
      flex: 1;
      padding-left: 10px;
    }

    .configuration-option__expand--desc-text {
      margin-bottom: 15px;
    }

    .configuration-option__expand--desc-title {
      margin-bottom: 5px;
      display: block;
    }
  }
}
