.configuration-pricing {
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding: 20px;
  border-radius: 5px;

  .configuration-pricing__header {
    padding: 15px 25px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .configuration-pricing__header--title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.15em;
  }

  .configuration-pricing__header--icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #a5a5a5;
    text-align: center;
    border-radius: 50%;
    font-size: .65em;
    color: #fff;
    position: relative;
    transform: translateY(3px);
    cursor: pointer;

    .fa-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .configuration-pricing__total {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: right;
    font-weight: bold;
  }

  .configuration-pricing__financing {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
  }

  .configuration-pricing__financing-article {
    flex: .48;

    p, a {
      color: #000;
    }
  }
}
