@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.ngx-datatable {
  font-family: Roboto,sans-serif;

  .datatable-header {
    background-color: #d7d7d8;
  }

  .datatable-header-cell {
    color: #969696;
    text-align: left;
    padding: 10px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
    vertical-align: bottom;
    font-size: 14px;
  }

  .datatable-body-row {
    border-bottom: 1px solid #D8D8D8;

    &.active {
      .row-action {
        display: block;
      }
    }

    &.datatable-row-even {

    }

    &.datatable-row-odd {
      background: #f8f8f8;
    }
  }

  .datatable-body-cell {
    text-align: left;
    padding: 2px 10px;
    vertical-align: middle;
    font-size: 0.875rem;
    color: #333;
    font-weight: 400;

    .datatable-body-cell-label {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }

  .datatable-footer-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    font-size: 14px;
    color: #747474;

    .datatable-footer-info__limit {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .project-name-cell {
    font-size: 1.125rem;
    font-weight: bold;
    color: #000;
    display: block;
  }

  .model-cell {
    font-size: 1rem;
    color: #333;
  }

  .row-action {
    display: none;
  }

  .datatable-pager {
    transform: translateY(-5px);

    .pager {
      li {
        margin: 0 15px !important;

        &.pages {
          margin: 0 4px !important;
        }

        &:first-child, &:last-child {
          display: none !important;
        }

        &.disabled {
          opacity: .6;
        }

        a {
          text-decoration: none;
          color: #747474;
          width: 24px;
          height: 24px;
          line-height: 1em;
          text-align: center;
          padding: 4px 0;
          border-radius: 2px;
          position: relative;
        }

        &.active a {
          background-color: $button-primary-color;
          color: #000;
        }

        i {
          display: inline-block;
          position: relative;
          width: 100%;
          background-color: #ffcd13;
          color: #000;
          padding: 7px 0;
          height: 24px;
          border-radius: 2px;
          transform: translateY(8px);

          &:before {
            font-size: 20px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }
}
