.header {
  height: 85px;
  border-bottom: 19px solid #ffd700;
  background-color: #000;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;

  .header__logo {
    width: 65px;

    img {
      width: 100%;
    }
  }

  .header__nav {

  }

  .header__settings {
    color: $menu-item-color;
    margin-left: auto;

    small {
      margin-left: 5px;
    }
  }
}

.main-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1.125em;

  .main-nav__list-item {
    display: inline;
    margin-left: 22px;
    margin-right: 22px;
  }

  .main-nav__list-item--link {
    color: $menu-item-color;
    text-decoration: none;
    font-weight: 500;
  }
}
