.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
  overflow: auto;
  z-index: 1001;
}

.modal {
  position: absolute;
  max-width: 920px;
  top: 10%;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: 25px auto 50px;

  .modal__header {
    background-color: #3a3a3a;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modal__header--close {
    cursor: pointer;
  }

  .modal__content {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
  }

  .modal__action {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin: 0 10px;
    }
  }

  .option-column {
    flex: 1;
    flex-direction: column;
    display: flex;

    h3 {
      margin-bottom: 15px;
    }

    &:first-child {
      padding-right: 15px;
    }

    &:last-child {
      padding-left: 15px;
    }
  }

  .option-container {
    display: flex;
    flex-direction: row;
  }
}
