.product-hero {
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding: 30px 35px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .product-hero__image {
    max-width: 255px;
  }

  .product-hero__details {
    margin-left: 10px;
    margin-right: auto;
  }

  .product-hero__actions {
    .button {
      margin-right: 2px;
      margin-left: 2px;
    }
  }

  .product-hero__details--title {
    text-transform: uppercase;
  }

  .product-hero__details--row {
    font-size: .8em;
    margin: 4px auto;
  }
}
