.reference-documents {
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;

  h3 {
    text-transform: uppercase;
    font-size: 1.45em;
    margin-bottom: 15px;
  }

  .reference-documents__category {
    margin: 40px 0 20px;
  }

  .reference-documents__category--list-item {
    margin-bottom: 10px;
    transition: transform .2s ease;

    &:hover {
      transform: translateX(3px);

      .reference-document {
        color: #000;
      }
    }
  }

  .input-text {
    width: 100%;
  }
}

.reference-document {
  color: #747474;
  text-decoration: none;
  transition: color .2s ease;

  .reference-document__label {
    font-size: 1.35em;
    font-weight: lighter;
    margin-left: 15px;
  }

  .reference-document__icon {
    display: inline-block;
    max-width: 25px;
    transform: translateY(3px);
  }
}
