<header class="header">
  <div class="app__container">
    <div class="header__logo">
      <img src="/assets/images/logos/cat_logo.png" alt="Catepillar logo" />
    </div>
    <nav class="header__nav">
      <ul class="main-nav">
        <li class="main-nav__list-item" *ngFor="let menuItem of mainNavList">
          <a class="main-nav__list-item--link" routerLink="{{menuItem.routerLink}}">{{menuItem.label}} <fa-icon icon="caret-down"></fa-icon></a>
        </li>
      </ul>
    </nav>
    <div class="header__settings">
      <fa-icon icon="user"></fa-icon> <small>Settings</small>
    </div>
  </div>
</header>
