<section class="configuration-pricing" *ngIf="pricing">
  <header class="configuration-pricing__header">
      <span class="configuration-pricing__header--title">
        PRICING INFORMATION
        <span class="configuration-pricing__header--icon">
          <fa-icon icon="info"></fa-icon>
        </span>
      </span>
  </header>
  <table class="table pricing-table">
    <thead>
    <tr>
      <th class="pricing-table__feature-code">Feature Code</th>
      <th align="left">Ref #</th>
      <th align="left">Description</th>
      <th class="pricing-table__price">Ext List Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pricingItem of pricing.selections">
      <td class="pricing-table__feature-code">{{pricingItem?.id}}</td>
      <td>000-0000</td>
      <td>{{pricingItem?.displayName}}</td>
      <td class="pricing-table__price">{{pricingItem?.price | currencyFormat : '$' : pricingItem?.isIncluded}}</td>
    </tr>
    </tbody>
  </table>
  <div class="configuration-pricing__total">
    Total: {{pricing.totalPrice | currency}}
  </div>
  <header class="configuration-pricing__header">
      <span class="configuration-pricing__header--title">
        FINANCING OPTIONS
        <span class="configuration-pricing__header--icon">
          <fa-icon icon="info"></fa-icon>
        </span>
      </span>
  </header>
  <div class="configuration-pricing__financing">
    <article class="configuration-pricing__financing-article">
      <img src="/assets/images/placeholders/financing_options_1.png" alt="Financing Option 1" />
      <h3>GET 0% FOR 60 MONTHS ON A NEW CAT MOTOR GRADER.*</h3>
      <br>
      <p>With a 2-year standard warranty.**
        <br><br>
        <a href="#">Offer Terms and Conditions</a></p>
    </article>
    <article class="configuration-pricing__financing-article">
      <img src="/assets/images/placeholders/financing_options_2.png" alt="Financing Option 1" />
      <h3>GET 0% FOR 24 MONTHS ON SELECT CAT ATTACHMENT PURCHASES.</h3>
      <br>
      <p>When you use your Cat Financial Commercial Account†
        <br><br>
        <a href="#">Offer Terms and Conditions</a></p>
    </article>
  </div>
</section>
