<section class="product-hero">
  <div class="product-hero__image">
    <img src="/assets/images/placeholders/140M3.png" alt="placeholder" />
  </div>
  <div class="product-hero__details">
    <div class="product-hero__details--title">
      <h3>Model: 140M3 Motor Grader</h3>
    </div>
    <div class="product-hero__details--row">
      Project Name: VPL Project
    </div>
    <div class="product-hero__details--row">
      Source: PIRACICABA, BRAZIL
    </div>
    <div class="product-hero__details--row">
      Price List: NACD
    </div>
    <div class="product-hero__details--row">
      Effective Date: 19OCT2018
    </div>
  </div>
  <div class="product-hero__actions">
    <button class="button button__primary" *ngIf="currentStep === 1" [ngClass]="{'disabled': !configurationValid.valid}" (click)="nextStep()">Next Step</button>
    <button class="button button__primary" *ngIf="currentStep === 3" (click)="previousStep()">Back</button>
    <button class="button button__secondary">Save & Close</button>
    <button class="button button__secondary">Cancel</button>
  </div>
</section>
