<aside class="reference-documents">
  <h3>Reference Documents</h3>
  <form>
    <div class="input-search-group">
      <input class="input-text" type="text" placeholder="Search documents"/> <fa-icon icon="search"></fa-icon>
    </div>
  </form>
  <div class="reference-documents__category" *ngFor="let documentCategory of referenceDocumentsList">
    <h3>{{documentCategory.title}}</h3>
    <ul class="reference-documents__category--list">
      <li class="reference-documents__category--list-item" *ngFor="let document of documentCategory.referenceDocuments">
        <a href="{{document.url}}" target="_blank" class="reference-document">
          <span class="reference-document__icon">
            <img [src]="'/assets/images/icons/'+ document.icon +'-icon.png'" alt="{{document.label}}" />
          </span>
          <span class="reference-document__label">{{document.label}}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
