<configuration-step
  [activeStep]="step"></configuration-step>
<section class="content__container">
  <h1 class="text-center">{{stepTitle}}</h1>
  <product-hero
    [currentStep]="step"
    [configurationValid]="configurationValid$ | async"
    (invalidConfig)="scrollToInvalidQuestion($event)"
    (goToStep)="nextStep($event)"></product-hero>
  <section class="product-view">
    <div class="column-main">
      <configuration-list
        *ngIf="step === 1"
        [productConfiguration]="productConfiguration$ | async"
        (answerDetail)="getAnswerDetail($event)"
        (answerDisabled)="getAnswerDisabledStatus($event)"
        (configurationChange)="updateConfiguration($event)"></configuration-list>
      <configuration-pricing
        *ngIf="step === 3"
        [pricing]="configurationPricing$ | async"
      ></configuration-pricing>
    </div>
    <div class="column-aside">
      <reference-documents></reference-documents>
    </div>
  </section>
</section>
<option-modal [updateOptions]="configurationUpdate$ | async"
              (modalClose)="handleConfigurationUpdate($event)"></option-modal>
