<section class="configuration-search">
  <h3 class="configuration-search__title">Search for a configuration
    <span class="configuration-search__title--icon">
      <fa-icon icon="info"></fa-icon>
    </span>
  </h3>
  <p class="configuration-search__desc">Type in a keyword, model number or any known information to filter the standard
    and previous configuration lists displayed below. You may also click new project to start a configuration from
    scratch.</p>
  <form class="configuration-search__action">
    <div class="input-search-group">
      <input class="input-text" type="text"
             placeholder="Search for an existing config by typing in a keyword, model, etc."/>
      <fa-icon icon="search"></fa-icon>
    </div>
    <strong>OR</strong>
    <button class="button button__primary" type="button" routerLink="/product/140M3">NEW CONFIGURATION</button>
  </form>
</section>
