.app__container {
  display: flex;
  flex: 1;
  align-items: center;
  margin: auto;
  max-width: 1360px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.content__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1256px;
  margin: auto;
  //
  padding-left: 24px;
  padding-right: 24px;
}

.vpl {
  padding-top: 85px;
}
