body {
  font-family: Roboto, sans-serif;
}

small {
  font-size: smaller;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 30px 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 15px 0;
}

h3 {
  font-size: 1.375em;
  font-weight: bold;
  margin: 10px 0;
}

p {
  font-size: 1em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
