<div #spacer></div>
<section class="configuration-steps" stickyThing [spacer]="spacer">
  <div class="app__container">
    <nav class="configuration-steps__nav">
      <ul class="configuration-nav">
        <li class="configuration-nav__list-item"
            [ngClass]="{'active-step': activeStep === i + 1, 'complete-step': activeStep > (i + 1)}"
            *ngFor="let configStep of configuratinSteps; let i = index">
          <span class="configuration-nav__list--icon {{configStep.icon}}">
            <small *ngIf="activeStep <= (i + 1)">{{i + 1}}</small>
            <fa-icon icon="check" *ngIf="activeStep > (i + 1)"></fa-icon>
          </span>
          <span class="configuration-nav__list--label">{{configStep.label}}</span>
        </li>
      </ul>
    </nav>
    <aside class="configuration-info">
      <div class="configuration-info__project">
      <span class="configuration-info__project--title">
        Project
      </span>
        <span class="configuration-info__project--id">
        #30001985
      </span>
      </div>
      <div class="configuration-info__save">
      <span class="configuration-info__save--icon">
        <img src="/assets/images/placeholders/save.png" alt="save">
      </span>
        <span class="configuration-info__save--label">
        Save<br>record
      </span>
      </div>
    </aside>
  </div>
</section>
