<section class="configuration-item" *ngFor="let question of productConfiguration?.questions">
  <div class="configuration-list__item" *ngIf="question" id="qs-{{question.id}}">
    <header class="configuration-list__item--heading">
      <span class="configuration-list__item--heading-title">
        {{question.displayName}}
        <span class="configuration-list__item--heading-icon" [tooltip]="question.tooltipText">
          <fa-icon icon="info"></fa-icon>
        </span>
      </span>
      <small class="configuration-list__item--heading-price">Ext List Price</small>
    </header>
    <div class="configuration-list__item--content">
      <small class="configuration-list__item--question-type">{{question.tooltipText}}</small>
      <configuration-option [question]="question"
                            (answerDetail)="emitAnswerDetail($event)"
                            (configurationChange)="emitConfigurationChange($event)"
                            (answerDisabledStatus)="emitAnswerDisabledStatus($event)"
      ></configuration-option>
    </div>
  </div>
</section>
