<div class="configuration-option" *ngFor="let answer of question?.answers">
  <div class="configuration-option__row" [ngClass]="{'disabled': answer.isDisabled}" [tooltip]="answer.status"
       [options]="{display: !!answer.status && (answer.isDisabled || answer.isIncluded), placement: 'right'}">
    <div class="configuration-option__row--commands"
         (click)="selectOption(question, answer)"
         (mouseenter)="displayStatus(question.id, answer)">
      <div class="configuration-option__row--checkbox"
           [ngClass]="{'checkbox-multi': question.selection_type === 3 || question.selection_type === 4, 'checked': question.selected_value.indexOf(answer.id) > -1}">
        <span class="configuration-option__row--checkbox-inner"></span>
      </div>
      <div class="configuration-option__row--label">
        {{answer.displayName}}
      </div>
    </div>
    <div class="configuration-option__row--price">
      {{answer.price | currencyFormat : '$' : answer.isIncluded}}
    </div>
    <div class="configuration-option__row--expand" (click)="getAnswerDetails(question.id, answer)">
      <fa-icon [icon]="['fas', answer.expandDetails ? 'chevron-up' : 'chevron-down']"></fa-icon>
    </div>
  </div>
  <div class="configuration-option__expand" *ngIf="answer.expandDetails">
    <div class="configuration-option__expand--image">
      <strong>Attachment Location</strong>
      <br>
      <img src="/assets/images/placeholders/attachment-location.png" alt="placeholder"/>
    </div>
    <div class="configuration-option__expand--desc">
      <div class="configuration-option__expand--desc-text">
        <strong class="configuration-option__expand--desc-title">Description</strong>
        {{answer.description}}
      </div>
      <div class="configuration-option__expand--desc-text">
        <strong class="configuration-option__expand--desc-title">Customer Application</strong>
        {{answer.customerApplication}}
      </div>
      <div class="configuration-option__expand--desc-text">
        <strong class="configuration-option__expand--desc-title">Notes</strong>
        {{answer.notes}}
      </div>
    </div>
  </div>
</div>
